{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <input form="finalform" name="title" type="text" placeholder="assignment name" />
</div>

<form id="finalform" method="post" name="form" action="/createassignment/submit/">

    <script>
        function addQuestion() {
            $('#questions').append("<input type='text' id='questions[]' name='questions[]' class='form-control' /><br/>");
        }
    </script>

    {% csrf_token %}

    <p>Due date:</p>
    <input type="date" id="due_date" name="due_date" />

    <div id="questions"></div>

    <br />
    <div class="btn btn-primary " onclick="addQuestion()">Add Question</div>

    <br />
    <br />
    <input class="btn btn-primary" type="submit" name="send" value="Save" />
    <br />
    <input class="btn btn-primary" type="submit" name="send" value="Submit"/>

</form>

{% endblock %}
