{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>{{assignment.1}}</h1>
</div>

<form id="form" method="post" name="form" action="/studentassignment/submit/">

    {% csrf_token %}

    <input type="text" style="visibility: hidden" id="assignment_id" name="assignment_id" value="{{assignment.0}}"/>

    {% for a in answers %}
        <h3>{{a.1}}</h3>
    <script>
        $(document).ready(function () {
            document.getElementById( "a" + "{{a.0}}" ).innerHTML = "{{a.2}}";
        });
    </script>
        <div class="commentable answer" contenteditable="true" id="a{{a.0}}"></div>
        <textarea style="visibility:hidden" class="form-control" form="form" name="answers[]">{{a.2}}</textarea>
    {% endfor %}

    <br />
    <br />
    <input class="btn btn-primary" style="visibility: hidden" type="submit" name="send" value="Save" />
    <br />
    {%if submitted%}
    <h2 style="color: lawngreen">Submitted</h2>
    {%else%}
    <input class="btn btn-primary" type="submit" name="send" value="Submit"/>
    {%endif%}

</form>

{% endblock %}
