{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>{{assignment.1}}</h1>
</div>

<form id="form" method="post" name="form" action="/home/">

    {% csrf_token %}

    {% for q in questions %}
        <h3>{{q.1}}</h3>
        <textarea class="form-control" form="form" name="q{{q.0}}">טקסט ניתן לעריכה</textarea>
    {% endfor %}

    <br />
    <br />
    <input class="btn btn-primary" type="submit" value="Save" />
    <br />
    <input class="btn btn-primary" type="submit" value="Submit"/>

</form>

{% endblock %}
