{% extends "app/layout.html" %}

{% block content %}

<script src="../../static/app/scripts/jquery-1.10.2.js" ></script>

<script>
	$("#container").on('click-row.bs.table', function (e, row, $element) {
		window.location = $element.data('href');
	});
</script>

<div class="jumbotron">
    <h1>Hello student {{username}}!</h1>
    <table class="table" id="container">
		<thread>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Teacher</th>
				<th scope="col">Due Date</th>
			</tr>
		</thread>
		<tbody>
			{% for assignment in assignments %}

			<tr>
				<td>{{ assignment.1 }}</td>
				<td>{{ assignment.2 }}</td>
				<td>{{ assignment.3 }}</td>
			</tr>

			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
