{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>{{assignment.1}}</h1>
</div>

<form id="form" method="post" name="form" action="/studentassignment/submit/">

    {% csrf_token %}

    <input type="text" id="assignment_id" name="assignment_id" value="{{assignment.0}}"/>

    {% for q in questions %}
        <h3>{{q.1}}</h3>
        <textarea class="form-control" form="form" name="answers[]">טקסט ניתן לעריכה</textarea>
    {% endfor %}

    <br />
    <br />
    <input class="btn btn-primary" type="submit" name="send" value="Save" />
    <br />
    <input class="btn btn-primary" type="submit" name="send" value="Submit"/>

</form>

{% endblock %}
