{% extends "app/layout.html" %}

{% block content %}

<script src="../../static/app/scripts/jquery-1.10.2.js" ></script>

<script>
	$(document).ready(function () {
		$(".container").addClass("test");
		$(".assignment-link").click(
			function () {
				var url = 'studentassignment/';
				var form = $('#finalform');
				$('#assignmentid').val(this.id .split("assignment")[1]);
				form.submit();
			}
		);
	});
</script>

<div class="jumbotron">
    <h1>Hello teacher {{username}}!</h1>

    <script>
        $(function () {
            $('select').on('change', function () {
                $('.selectedClass').hide();
                $('.selectedClass').removeClass('selectedClass');
                $('#' + this.value).show();
                $('#' + this.value).addClass('selectedClass');
            })
            $('table').first().addClass('selectedClass');
            $('table').not('.selectedClass').hide();
        });
    </script>

    <select>
        {% for class in classes %}
            <option value="c{{class.0}}">{{class.1}}</option>
        {% endfor %}
    </select>
    {% for class in classes %}
    <table class="table table-hover container" id="c{{class.0}}">
		<thread>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Due Date</th>
			</tr>
		</thread>
		<tbody>


			{% for assignment in class.2 %}

			<tr class="assignment-link" id="assignment{{assignment.0}}">
				<td>{{ assignment.1 }}</td>
				<td>
                    {{ assignment.2 }}
                </td>
			</tr>

			{% endfor %}
		</tbody>
	</table>
    {% endfor %}

    <form id="createAssignment" action="/createassignment/">
        <input type="submit" name="createnew" value="new assignment" />
    </form>

	<form id="finalform" hidden="hidden" method="post" action="/editassignment/">
        {% csrf_token %}
		<input type="text" name="assignmentid" id="assignmentid" />
	</form>
</div>

{% endblock %}
